.card {
  background-color: rgb(225 225 225 /10%);
  padding: 26px;
  border-radius: 10px;
  transition: transform 0.4s ease, background-color 0.3s ease;
}
.card:hover {
  background-color: rgb(225 225 225 /50%);
  transform: scale(1.025);
}
.card-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-btn:focus {
  background: rgb(225 225 225 /50%);
}
.card-btn:hover {
  transform: scale(1);
}
.card-btn {
  width: 100%;
}

.name {
  font-size: 20px;
  font-weight: 500;
  color: rgb(225 225 225 /20%);
  margin-bottom: 10px;
}

.name:hover {
  color: rgb(225 225 225 /40%);
  cursor: pointer;
}

.nft {
  font-size: 20px;
  font-weight: 700;
}

.bid-head {
  font-size: 15px;
  font-weight: 500;
  color: rgb(225 225 225 /20%);
}

.bid {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .nft {
    font-size: 16px;
  }
  .bid-head {
    font-size: 12px;
  }

  .bid {
    font-size: 16px;
  }
  .card {
    padding: 20px;
  }

  .card-img {
    margin-bottom: 10px;
  }
  .card:hover {
    transform: scale(1);
  }
}
