.sponsers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.spons-cnt {
  padding: 0 10px;
}

@media (max-width: 991px) {
  .spons-logo {
    width: clamp(16vw, 28vw, 32vw);
  }
  .spons-cnt {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .spons-logo {
    width: clamp(12vw, 28vw, 28vw);
  }
}

@media (max-width: 480px) {
  .spons-cnt {
    margin-bottom: 50px;
    padding: 0 5px;
  }

  .spons-logo {
    width: clamp(100px, 20vw, 90vw);
  }
}

/*
@media (min-width: 1200px) {
  .hero-cnt {
    padding: 0 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .hero-cnt {
    padding: 0 20px;
    gap: 3rem;
  }
  .left-top h1 {
    font-size: 40px;
  }
  .left-top p {
    font-size: 22px;
  }
}


  .hero-cnt {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    margin-bottom: 100px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .left-bottom {
    display: flex;
    gap: 2.5rem;
  }
}

@media (max-width: 768px) {
  .hero-cnt {
    padding: 0 10px 0 10px;
    margin-bottom: 50px;
  }
  .left-top h1 {
    font-size: 28px;
  }

  .left-top p {
    font-size: 14px;
  }
} */
