.sponsers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.spons-cnt {
  padding: 0 16px;
}

@media (max-width: 991px) {
  .spons-logo {
    width: clamp(16vw, 28vw, 32vw);
  }
  .spons-cnt {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .spons-logo {
    width: clamp(12vw, 28vw, 28vw);
  }
}

@media (max-width: 480px) {
  .spons-cnt {
    margin-bottom: 50px;
    padding: 0 8px;
  }

  .spons-logo {
    width: clamp(100px, 20vw, 90vw);
  }
}
