.sponsers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.spons-cnt {
  padding: 0 16px;
}
.sponsers img {
  width: clamp(16vw, 28vw, 32vw);
}
@media (max-width: 1200px) {
  .sponsers img {
    width: clamp(16vw, 24vw, 32vw);
  }
}
@media (max-width: 991px) {
  .sponsers img {
    width: clamp(16vw, 22vw, 32vw);
  }
  .spons-cnt {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .spons-cnt {
    margin-bottom: 50px;
    padding: 0 8px;
  }

  .sponsers img {
    width: clamp(100px, 22vw, 28vw);
  }
}
