.question-cnt {
  color: rgb(225 225 225/50%);
}

.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 20px;
}
.ques-end {
  height: 1px;
  max-width: 100%;
  background-color: rgb(225 225 225/50%);
  margin-bottom: 50px;
}
.answer {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .ques-end {
    margin-bottom: 36px;
  }
}
