.feature-cnt {
  padding: 0 16px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-text {
  text-align: center;
}

.head {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
}

.para {
  margin-bottom: 30px;
  color: rgb(225 225 225/ 50%);
  font-size: 20px;
  font-weight: 500;
}

.featured-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media (max-width: 991px) {
  .feature-cnt {
    margin-bottom: 100px;
  }
  .head {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .featured-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .head {
    font-size: 28px;
  }

  .para {
    font-size: 16px;
  }

  .feature-cnt {
    margin-bottom: 50px;
  }
}
@media (max-width: 540px) {
  .featured-cards {
    grid-template-columns: 1fr;
  }
}
