.creator-cnt {
  padding: 0 10px;
}

.creators-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 100%;
}
.creator-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.creator-head {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}
.creator-para {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(225 225 225 /50%);
}

@media (max-width: 991px) {
  .creators-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .creator-cnt {
    margin-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .creators-card {
    grid-template-columns: 1fr;
  }

  .creator-cnt {
    margin-bottom: 50px;
  }
}
