.collection-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
.clc-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.clc-heading {
  font-weight: 700;
  font-size: 40px;
}

.clc-para {
  font-size: 20px;
  font-weight: 500;
  color: rgb(225 225 225/ 50%);
}

.clc-catagories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  margin-bottom: 30px;
  width: 100%;
}

.clc-btn {
  background: rgb(225 225 225 / 10%);
  border: none;
  padding: 5px 0;
  border-radius: 10px;
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

.clc-btn:focus {
  background: var(--btn-gradient);
}

.clc-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 100%;
}
.clc-btn.active {
  background: var(--btn-gradient);
}

@media (max-width: 991px) {
  .collection-cnt {
    margin-bottom: 100px;
  }
  .clc-heading {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .clc-heading {
    font-size: 28px;
  }
  .clc-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .clc-btn {
    font-size: 16px;
    padding: 5px 5px;
  }

  .clc-para {
    font-size: 16px;
  }

  .collection-cnt {
    margin-bottom: 50px;
  }
}

@media (max-width: 540px) {
  .clc-cards {
    grid-template-columns: 1fr;
  }
  .clc-catagories {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
