.hero-cnt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7.25rem;
}
.right img {
  max-width: 100%;
}

.left-top h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
}
.left-top p {
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
  margin-bottom: 30px;
  opacity: 50%;
}
.left-mid {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
.hero-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--btn-gradient);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-white);
  font-family: var(--primary-font);
}
.hero-btn2 {
  background: rgb(225 225 255 /10%);
}
.left-bottom {
  display: flex;
  justify-content: space-between;
}

.info-box h3 {
  font-weight: 700;
  font-size: 30px;
}
.info-box p {
  font-weight: 500;
  font-size: 20px;
  opacity: 50%;
}

@media (min-width: 1200px) {
  .hero-cnt {
    padding: 0 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .hero-cnt {
    padding: 0 20px;
  }
  .left-top h1 {
    font-size: 40px;
  }
  .left-top p {
    font-size: 22px;
  }
}

@media (max-width: 991px) {
  .hero-cnt {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
  .left-top p {
    font-size: 25px;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero-cnt {
    padding: 0 10px 0 40px;
  }
}
