.faq-cnt {
  padding: 0 10px;
}

.faq-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faq-head {
  font-size: 40px;
  font-family: 700;
  margin-bottom: 10px;
}
.faq-para {
  font-size: 20px;
  font-family: 500;
  margin-bottom: 20px;
  color: rgb(225 225 225 /50%);
}
.faqs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  cursor: pointer;
}

.para-end {
  height: 1px;
  max-width: 100%;
  background-color: rgb(225 225 225/50%);
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .faq-cnt {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .faq-cnt {
    margin-bottom: 50px;
  }
  .faqs {
    grid-template-columns: 1fr;
  }
}
