.about-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.top h2 {
  font-size: 40px;
  font-weight: 700;
}
.top p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(225 225 225/ 50%);
  margin-bottom: 40px;
}

.about-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bottom-left {
  width: clamp(300px, 40vw, 490px);
}
.bottom-left img {
  max-width: 100%;
  margin-bottom: 16px;
}
.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-right h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
.bottom-right p {
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
  opacity: 50%;
  margin-bottom: 30px;
}
.about-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--btn-gradient);
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-white);
  font-family: var(--primary-font);
}

@media (max-width: 991px) {
  .about-bottom {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .bottom-right {
    text-align: center;
    align-items: center;
  }

  .bottom-right h3 {
    font-size: 24px;
  }

  .about-cnt {
    margin-bottom: 100px;
  }
  .top h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .bottom-right p {
    font-size: 16px;
  }

  .top h2 {
    font-size: 28px;
  }
  .top p {
    font-size: 16px;
  }

  .about-btn {
    font-size: 16px;
  }
  .about-cnt {
    margin-bottom: 50px;
  }
}
