.contact {
  background: var(--btn-gradient);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.contact-head {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-btn {
  background: rgb(225 225 225/50%);
}
