.creator-card {
  background-color: rgb(225 225 225 /10%);
  border-radius: 10px;
  transition: transform 0.4s ease;
}
.creator-card:hover {
  transform: scale(1.025);
}
.creator-bg {
  max-width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 26px 42px 26px;
  text-align: center;
}

.creator-img {
  position: absolute;
  top: -25%;
  border-radius: 50%;
}

.creator-name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}

.desc {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  color: rgb(225 225 225 / 50%);
}
.follow-btn {
  width: 100%;
}

.follow-btn:focus {
  background: rgb(225 225 225 /50%);
}

@media (max-width: 768px) {
  .bottom {
    padding: 50px 20px 24px 20px;
  }
}
