.header-cnt {
  margin-top: 10px;
  margin-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
}

.logo {
  margin-top: 10px;
}

.nav-ul ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
}
.header-btn {
  background: var(--btn-gradient);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
  background-color: rgb(225 225 225/10%);
  padding: 10px;
  border-radius: 10px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  max-width: 384px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-text);
}

.search-bar input:focus-visible {
  outline: 2px solid rgb(225 225 225/40%);
}

.hamburger {
  display: none;
}
.hamburger img {
  width: 40px;
  height: 40px;
}

@media (min-width: 1200px) {
  .header-cnt {
    padding: 0 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .header-cnt {
    padding: 0 20px;
  }
  .nav-link a {
    font-size: 17px;
  }
  .nav-ul ul {
    gap: 1.5rem;
  }
}

@media (max-width: 991px) {
  .header-cnt {
    padding: 0 30px;
  }

  .nav-ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .logo {
    scale: 1.2;
  }
}

@media (max-width: 768px) {
  .header-cnt {
    padding: 0 10px 0 40px;
  }
  .search-bar {
    display: none;
  }
  .logo {
    scale: 1.4;
  }
}
