.header-cnt {
  position: fixed;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(12px);
  /* background: rgb(255 255 255 /10%);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px); */
}

.header {
  max-width: 1197px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px 0 16px;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
}

.nav-link {
  color: var(--text-white);
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--text-white);
}

.nav-link a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
}

.logo {
  margin-top: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: flex;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18px);
  padding: 20px 0;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  /* margin: 0 16px; */
  transition: all 0.4s ease-in-out;
  align-items: center;
  justify-content: center;
}

.mobile-menu.show {
  display: flex;
  flex-direction: column;
}

.mobile-menu .nav-ul {
  flex-direction: column;
  gap: 1.5rem;
}

.search-bar {
  display: flex;
  gap: 10px;
  background-color: rgb(225 225 225/10%);
  padding: 10px;
  border-radius: 10px;
  max-width: 384px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-text);
}

.menu-search-bar {
  display: flex;
  gap: 10px;
  background-color: rgb(225 225 225/30%);
  padding: 10px;
  border-radius: 10px;
  max-width: 384px;
  margin: 0 8px;
  margin-bottom: 1.5rem;
}

.menu-search-bar input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-text);
}

.search-bar input:focus {
  outline: none;
}
.menu-search-bar input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .header-cnt {
    padding: 0 16px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .desktop-nav {
    display: flex;
    gap: 45px;
  }

  .nav-link a {
    font-size: 16px;
  }

  .hamburger {
    display: none;
  }

  .nav-ul {
    gap: 1.5rem;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
  .menu-search-bar {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-ul {
    flex-direction: column;
    gap: 20px;
  }
  .search-bar {
    display: none;
  }
}

@media (max-width: 575px) {
  .nav-ul {
    gap: 16px;
  }
}
