.header-cnt {
  margin-top: 10px;
  margin-bottom: 100px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
}

.logo {
  margin-top: 10px;
}

.nav-ul ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
}
.header-btn {
  background: var(--btn-gradient);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
  background-color: rgb(225 225 225/10%);
  padding: 10px;
  border-radius: 10px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  max-width: 384px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-text);
}

.search-bar input:focus {
  outline: none;
}

.desktop {
  display: block;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger img {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background: rgb(255 255 255 /10%);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
}

@media (min-width: 1200px) {
  .header-cnt {
    padding: 0 20px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .header-cnt {
    padding: 0 20px;
  }
  .nav-link a {
    font-size: 17px;
  }
  .nav-ul ul {
    gap: 1.5rem;
  }
}

@media (max-width: 991px) {
  .header-cnt {
    padding: 0 30px;
  }

  .nav-ul {
    display: none;
  }
  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .header-cnt {
    padding: 0 10px 0 10px;
    margin: 0 0 30px 0;
  }

  .search-bar {
    display: none;
  }
}
