.footer-item {
  text-decoration: none;
  color: rgb(225 225 225/50%);
  font-size: 15px;
  font-weight: 500;
}
.footer-head {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  word-break: break-all;
}

@media (max-width: 991px) {
  .footer-list {
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .footer-list {
    gap: 1.5rem;
  }
}
@media (max-width: 576px) {
  .footer-list {
    gap: 1rem;
  }
}
