@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #ffffff;
  --btn-gradient: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  --primary-font: "Poppins", sans-serif;
  --primary-fade: rgb(225 225 225 / 10%);
}

body {
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
  color: var(--primary-text);
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1197px;
  margin: 0 auto 150px auto;
}

.btn {
  background: var(--btn-gradient);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--primary-text);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
}
